<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type", content="text/html;charset=UTF-8">
        <title>arisnet</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/">Главная</a>
            <a href="/shorts">Shorts</a>
            <a href="/saved_posts">Saved posts</a>
        </div>
        <div>
            <a href="/posts">posts</a>
        </div>
        <div>
            <a href="/categories">categories</a>
        </div>
    </body>
</html> -->



{% extends 'base.html' %}

{% block content %}
    <div class="hulk">
        Это домашняя страница
    </div>
    <div>
        <a href="/profile/{{ request.user.profile.id }}">
            Профиль {{ request.user.username }}
        </a>
    </div>

    <h2>
        <a href="/posts">Посты</a>
    </h2>     
    
    {% endblock %}