<!DOCTYPE html>
<html>
    <body>
        <h2>Посты:</h2>
        {% for post in posts %}
            <a href = '/post/{{post.id}}'>
                {{post.name}}
            </a>
            {% if post.photo %}
                <div>
                    <img src="{{ post.photo.url }}">
                </div>
            {% endif %}
            <p>
                Лайки: {{ post.likes }}
            </p>
            <hr>
        {% endfor %}
        <div><a href="/home">homepage</a></div>
        <div><a href="/shorts">shorts</a></div>
        <div><a href="/categories">categories</a></div>
    </body>
</html>