{% extends 'base.html' %}

{% block content %}
    <head>
        <title>Document</title>
    </head>
    <body>
        <h2>{{ user.username }}</h2>
        <h3>Ник: {{ user.profile.nickname }}</h3>
        <div>О себе: {{ user.profile.description }}</div>
        <h3>Посты:</h3>
        {% for post in user.posts.all %}
            <div class="post">
                <div>{{ post.name }}</div>
                {% if post.photo %}
                    <a href="/post/{{ post.id }}"><img src="{{ post.photo.url }}" alt="image"></a>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    </body>
    {% endblock %}